/* Empty. Add your own CSS if you like */


.fsm{
	font-size:80% !important;
}
.fmed{
	font-size:150% !important;
}
.abuabu{
	color:#999;
}
.bold{
	color:#333;
	font-weight:bold;
}
.buku-item{
	width:100% !important;
	margin:0 !important;
	border-bottom:1px solid #CCCCCC;
}
.ftitle{
	font-weight:bold !important;
	font-size:80% !important;
	margin:0 !important;
	float:left !important;
	width:100%;
}
.fcat{
	font-size:70% !important;
	margin:10px 0 !important;
	float:left !important;
	width:100%;
}


.buku-item .item-body img{
	 
	height: 190px !important;
	width:90% !important;
	margin:0 !important;
	padding:0 !important;
	background: red !important;
	float:left;
	margin-right:15px !important;
}
.buku-item .item-detail{
	float:left !important;
	width: 50% !important;
	margin:0 !important;
	position:relative;
	top:-10px;
}
.buku-item .image{
	float:left !important;
	width:50% !important;
}
.list-book img{
	width:50% !important;
	float:left !important;
}
.list-book {
	width:100% !important;
}
.bg{
	font-size:200% !important;
}

#yourbook .list-book img{
	width: 100% !important;
	
}
#switch-detail{
	padding:20px 0 !important;
}