<ion-view view-title="Profile">

  <ion-nav-bar align-title="center">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
     
    </ion-nav-buttons>  
	<ion-nav-buttons side="right">
      <a class="button" href="#/tab/account" >
        <i style='font-size:150%'  class="ion-ios-gear"></i>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>
  
  
  <ion-content>
	
	<div class="full-bg">
		<center> 
			<div id="img-wrap"> 
				<img width='100' src="img/adam.jpg" alt="" />
			</div>
			<div class="person-detail">
				<span class="name">Candra A. Pinuyut</span>
				<span class="uid">@CandraPinuyut</span>
				<span class="tukar"><i class="icon ion-arrow-swap"></i> 54</span>
			</div>
		</center>
	</div>
	<div id="bukusaya"> 
		<div class='centerPerson'> 
		<center> 
		<h3> My Books</h3>
		</center>
		</div>
	
		<div class="list card buku-item">
			<div class="item item-body">
			<div class="col col-100">
				<div class="image">
				  <img src="img/buku/b1.jpg">  
				</div>
				<div class='item-detail'>
					<div class='hitam'>
						<span class="ftitle">The Tittle Of book avatas the lengend</span> 
						<span class="fcat">ROMANCE</span>
					</div>
					<p>
					 
					  <a href="#" class="subdued bold"><i class="icon ion-ios-heart-outline"></i> 15 k</a>
					  <a href="#" class="subdued bold"><i class="icon ion-arrow-swap"></i> 3 K</a>
					 
					  <br />
					  This is a "Facebook" styled Card. The header is created from a Thumbnail List ..
					</p>
					 
				</div> 
			</div>
		  </div>
		 </div> 
		 <div class="list card buku-item">
			<div class="item item-body">
			<div class="col col-100">
				<div class="image">
				  <img src="img/buku/b1.jpg">  
				</div>
				<div class='item-detail'>
					<div class='hitam'>
						<span class="ftitle">The Tittle Of book avatas the lengend</span> 
						<span class="fcat">ROMANCE</span>
					</div>
					<p>
					 
					  <a href="#" class="subdued bold"><i class="icon ion-ios-heart-outline"></i> 15 k</a>
					  <a href="#" class="subdued bold"><i class="icon ion-arrow-swap"></i> 3 K</a>
					 
					  <br />
					  This is a "Facebook" styled Card. The header is created from a Thumbnail List ..
					</p>
					 
				</div> 
			</div>
		  </div>
		 </div> 
	
	</div>
  
  
  </ion-content>
</ion-view>

