<ion-view view-title="Add Your Book " ng-init="init()">

  <ion-content>
	
	
	 <div class="padding text-center">
		  
		<div class="list padding">
 		  
		   
		  <label class="item item-input">
			<img src="" id='imgprev' alt='img' style='display:none' />
			<input type="file"  onchange="previewFile()" id='file' ng-model='file'  placeholder="Judul Buku">
          </label>
          <label class="item item-input">
            <i class="ion-ios-person-outline light icon-label"></i>
            <input type="text" ng-model='judul' id='judul' placeholder="Judul Buku">
          </label> 
          <label class="item item-input">
            <i class="ion-ios-person-outline light icon-label"></i>
            <textarea placeholder="deskripsi buku" ng-model='desk' id='desk' style='height:150px'></textarea>
          </label>        
        </div>
        <div class="padding">
          <button class="button button-block button-balanced" ng-click='upload(judul,desk)'>
            UPLOAD YOUR BOOK
          </button>
		 
        </div>
          
           
     </div>
		
  
  
  </ion-content>
</ion-view>

