<ion-view view-title="TukarBuku">
  <ion-nav-bar align-title="center">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
     
    </ion-nav-buttons>  
	<ion-nav-buttons side="right">
		<a class="button" href="#/tab/notif" >
			<i style='font-size:150%'  class="ion-earth"></i>
		</a>
     </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content>
<div class="list card buku-item">

  <div class="item item-avatar">
    <img src="img/adam.jpg">
    <h3>Marty McFly</h3>
	<span class='fsm abuabu'>November 05, 1955</span>
  </div>

  <div class="item item-body">
	
	<div class="col col-100">
	    <div class="image">
		  <img src="img/buku/b1.jpg">  
		</div>
		<div class='item-detail'>
			<div class='hitam'>
				<span class="ftitle">The Tittle Of book avatas the lengend</span> 
				<span class="fcat">ROMANCE</span>
			</div>
			<p>
			 
			  <a href="#" class="subdued bold"><i class="icon ion-ios-heart-outline"></i> 15 k</a>
			  <a href="#" class="subdued bold"><i class="icon ion-arrow-swap"></i> 3 K</a>
			 
			  <br />
			  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
			</p>
			<p class='fmed'>
			  <a href="#" class="subdued bold"><i class="icon ion-ios-heart-outline"></i></a>
			  <a href="#" class="subdued bold"><i class="icon ion-arrow-swap"></i></a>
			</p>
		</div> 
	</div>
  </div>

</div> 
  
  
  
  
  
  </ion-content>
</ion-view>
