<ion-view view-title="TukarBuku">
  <ion-content>
<div class="list card buku-item">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Marty McFly</h2>
  </div>

  <div class="item item-body">

	<img class="full-image " src="img/buku/b1.jpg">  
	
	<p class='fmed'>
      <a href="#" class="subdued bold"><i class="icon ion-ios-heart-outline"></i></a>
      <a href="#" class="subdued bold"><i class="icon ion-arrow-swap"></i></a>
    </p> 
	<p>
      <a href="#" class="subdued bold">10 Likes,5 Swap Request</a>
    </p>
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      </p>
 
    <span class='fsm abuabu'>November 05, 1955</span>
  </div>

</div> 
  
  
  
  
  
  </ion-content>
</ion-view>
