<ion-view view-title="Swap Area" ng-init="init()">

  <ion-nav-bar align-title="left">
 
	<ion-nav-buttons side="right">
      <a class="button" href="#/tab/account" >
        <i style='font-size:150%'  class="ion-ios-gear"></i>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>
 
  
  
  <ion-content>
	
 
	<div id="bukusaya"> 
		<div class='centerPerson'> 
		<center> 
		<h3> My Books</h3>
		</center>
		</div>
	
		<div class="list card buku-item" ng-repeat="record in records">
			<div class="item item-body">
			<div class="col col-100">
				<div class="image">
					<img ng-src="{{record.image}}">  
				</div>
				<div class='item-detail'>
						<div class='hitam'>
							<span class="ftitle">{{record.title}}</span> 
							<span class="fcat">ROMANCE</span>
						</div>
					<p>
					 
				  <a ng-if="records.likes > 0 " href="#" class="subdued bold"><i class="icon ion-ios-heart-outline"></i> {{record.likes}}</a>
				  <a ng-if="records.requests > 0 "  href="#" class="subdued bold"><i class="icon ion-arrow-swap"></i> {{record.requests}}</a>
				 
						  <br />
					{{record.desk}}...
					</p>
					<div class="col-100" style='margin-left:-5px'> 
						<button ng-click="addSwapBook(record.id)" class='button button-full button-positive'><i class="ion-plus"></i> </button>
 					</div>
				</div> 
				 
			</div>
			
		  </div>
		 </div> 
		
	
	</div>
  
 
   </ion-content>
  
  
  
</ion-view>

