<ion-view view-title="Search Book">
  <ion-content>

  <label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Search">
</label>
 
 <div class="list-book">
	<div class="image">
	  <img src="img/buku/b1.jpg">  
	</div> 
 </div> 
 <div class="list-book">
	<div class="image">
	  <img src="img/buku/b1.jpg">  
	</div> 
 </div> <div class="list-book">
	<div class="image">
	  <img src="img/buku/b1.jpg">  
	</div> 
 </div> 
 <div class="list-book">
	<div class="image">
	  <img src="img/buku/b1.jpg">  
	</div> 
 </div>
 

   
  
  
  
  
  </ion-content>
</ion-view>
