<ion-view view-title="Switch Detail ">

  <ion-content>

	<div id='switch-detail'>


		<center> 
			<span class='fmed bold'>The title of book</span>
			<br />
			<span class='fsmall '>ROMANCE</span>
		</center>
	 	<div id="yourbook"> 
			<div class="list-book">
				<div class="image">
				  <img src="img/buku/b1.jpg">  
				</div> 
			 </div> 
		</div>
	 
		<center><h2><i class="ion-ios-arrow-thin-up"></i><i class="ion-ios-arrow-thin-down"></i></h2></center>
 		<div class="list-book">
			<div class="image">
			  <img src="img/buku/b1.jpg">  
			</div> 
		 </div> 
		 <div class="list-book">
			<div class="image">
			  <img src="img/buku/b1.jpg">  
			</div> 
		 </div>   <div class="list-book">
			<div class="image">
			  <img src="img/buku/b1.jpg">  
			</div> 
		 </div>   <div class="list-book">
			<div class="image">
			  <img src="img/buku/b1.jpg">  
			</div> 
		 </div>  
		 <div class="row"> 
			 <div class="col col-50"> 
				<button class='button button-positive button-full'>
					<i class="ion-ios-checkmark-empty bg"></i> 
				</button>
			 </div>
			 <div class="col col-50"> 
				<button class='button button-assertive button-full'>
					<i class="ion-ios-close-empty bg"></i> 
				</button>
			 </div>
		 </div>
		 
	</div>
		
		
  
  
  </ion-content>
</ion-view>

