<ion-view view-title="Exchange Request" ng-init="init()">

  <ion-content>
	
	
	
	<div id="request"> 
		
		<div class="reqlist" ng-Click="detailNotif(record.id)" ng-repeat="record in records" >
			<div class="img"> 
				<img src="img/adam.jpg" width='40px' alt="" />
			</div>
			<div class="content">
				<p> 
					<strong>{{record.formername}}</strong>  Request To Exchange your book 
					<strong>{{record.bookname}}</strong> 
				</p>
				<span class="fsm abuabu">{{record.date_request_send}}</span>
 			</div>
		</div>
		
		
	</div>
		
		
  
  
  </ion-content>
</ion-view>

