<ion-view view-title="TukarBuku" ng-init="init()">
  <ion-nav-bar align-title="left">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
 
 
	 <ion-nav-buttons side="right">
		<a class="button" href="#/tab/notif" >
			<i style='font-size:150%'  class="ion-android-globe"></i>
		</a>
     </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content>
  
	<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
	</ion-refresher>  
<div class="list card buku-item" ng-repeat="record in records">

  <div class="item item-avatar">
    <img src="img/adam.jpg">
    <h3>{{record.name}}</h3>
	<span class='fsm abuabu'>{{record.timesend}}</span>
  </div>

  <div class="item item-body">
	
	<div class="col col-100">
	    <div class="image">
		  <img ng-src="{{record.image}}">  
		</div>
		<div class='item-detail'>
			<div class='hitam'>
				<span class="ftitle">{{record.title}}</span> 
				<span class="fcat">ROMANCE</span>
			</div>
			<p>
			 
			  <a ng-if="records.likes > 0 " href="#" class="subdued bold"><i class="icon ion-ios-heart-outline"></i> {{record.likes}}</a>
			  <a ng-if="records.requests > 0 "  href="#" class="subdued bold"><i class="icon ion-arrow-swap"></i> {{record.requests}}</a>
			 
			  <br />
			  {{record.desk}}...
			</p>
			<p class='fmed'>
			  <a href="#" class="subdued bold"><i class="icon ion-ios-heart-outline"></i></a>
			  <a href="javacript:;void(0)" ng-click="switch_(record.id,record.memberid)" class="subdued bold"><i class="icon ion-arrow-swap"></i></a>
			</p>
		</div> 
	</div>
  </div>

</div> 
 
  
  
  
  
  
  </ion-content>
</ion-view>
